<!DOCTYPE html>
<html>
  
  <head data-gwd-animation-mode="quickMode">
    <title>lobby</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="generator" content="Google Web Designer 1.0.2.1210">
    <style type="text/css">
      html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }
      body {
        background-color: transparent;
        -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform-style: preserve-3d;
      }
      .gwd-div-1x5d {
        text-align: center;
        font-size: 50px;
      }
      .gwd-div-yjm7 {
        position: absolute;
        width: 320px;
        font-family:'Times New Roman';
        text-align: left;
        height: 100px;
        top: 0px;
        left: 354px;
      }
      .gwd-div-r008 {
        position: absolute;
        width: 200px;
        height: 639px;
        top: 100px;
        left: 828px;
        overflow: scroll;
      }
      .gwd-div-abzy {
        position: absolute;
        width: 674px;
        height: 30px;
        font-family:'Times New Roman';
        text-align: left;
        color: rgb(0, 0, 0);
        top: 100px;
        left: 0px;
      }
      .gwd-div-zxam {
        position: absolute;
        top: 150px;
        height: 160px;
        width: 673px;
        left: 0px;
        overflow: scroll;
      }
      .gwd-div-gd2e {
        position: absolute;
        width: 673px;
        top: 330px;
        height: 409px;
        left: 0px;
        overflow: scroll;
      }
      .gwd-div-room {
        position: absolute;
        width: 320px;
        height: 100px;
        left: 675px;
        top: 0px;
      
    </style>
  </head> 
  <body>
  <%= render :partial => "/partial/jquery_src" %>
    <div class="gwd-div-yjm7 editable">
      <div class="gwd-div-1x5d"><span class="gwd-span-pevg">ロビー</span>
        <br>
      </div>
    </div>
    <div class="gwd-div-room" id="room_enter_div">
      <ul style="list-style:none">
        <%= form_tag("/gameroom/room_creater", :method => :post, :remote => true ) do %>
          <li style="float:left">部屋作成</li>
          <li style="float:left"><%= text_field_tag :room_prm ,nil,:required => true, :maxlength => 15%></li>
          <li style="float:left"><%= submit_tag("作成") %></li>
          <li id="room_make_error_li"style="float:left"></li>
        <% end %>
      </ul>
    </div>
    <div class="gwd-div-r008" id="visitorlist"></div>
    <div class="gwd-div-abzy" id="chatwrite">
      <%= render :partial => "/partial/chatwrite_form" ,:locals => {:room_local => "lobby"} %>
    </div>
    <div class="gwd-div-zxam" id="chatread"></div>
    <div class="gwd-div-gd2e" id="roomlist">here will display game-room list</div>
    <div id="room_destroyer_div" style="display:none"></div>
    <script type="text/javascript">
      var chatread_i;
      var visit_i;
      var room_des_i;
      function visitorlist_load(){
        $("#visitorlist").load("/lobby/visitor_update");
      }
      function chatread_load(){
        $("#chatread").load("/chat/reader",{room_prm:"lobby"});
      }
      function room_des_load(){
        $("#room_destroyer_div").load("/gameroom/room_destroyer");
      }
      $(document).on("ready page:load", (function () {
        visitorlist_load();
        visit_i=setInterval(visitorlist_load , 20000);
        chatread_load();
        chatread_i=setInterval(chatread_load , 10000);
        room_des_load();
        room_des_i=setInterval(room_des_load , 20000);
      }));
    </script>
  </body>
</html>